DATABASE_URL=postgresql+asyncpg://postgres:postgres@pg_db:5432/main_db
REDIS_URL=redis://rediska:rediska@rediska:6379/0
DEFAULT_USERS_ROLES=["user", "admin", "moderator"]
ADMIN_USERNAME=root
ADMIN_PASSWORD=root
ADMIN_EMAIL=root@example.com
